<div class="container">
    <h2>Edit Appointment</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="ownerId">Owner</label>
        <select id="ownerId" class="form-control" formControlName="ownerId" (change)="onChangeOwner()">
          <option value="">Select Owner</option>
          <option *ngFor="let owner of owners" [value]="owner.id">{{ owner.name }}</option>
        </select>
        <div *ngIf="editForm.get('ownerId')?.invalid && (editForm.get('ownerId')?.dirty || editForm.get('ownerId')?.touched)"
          class="invalid-feedback">
          <div *ngIf="editForm.get('ownerId')?.errors?.['required']">
            Owner is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="petId">Pet</label>
        <select id="petId" class="form-control" formControlName="petId">
          <option value="">Select Pet</option>
          <option *ngFor="let pet of pets" [value]="pet.id">{{ pet.name }}</option>
        </select>
        <div *ngIf="editForm.get('petId')?.invalid && (editForm.get('petId')?.dirty || editForm.get('petId')?.touched)"
          class="invalid-feedback">
          <div *ngIf="editForm.get('petId')?.errors?.['required']">
            Pet is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="date">Appointment Date and Time</label>
        <input type="datetime-local" id="date" class="form-control" formControlName="date">
        <div *ngIf="editForm.get('date')?.invalid && (editForm.get('date')?.dirty || editForm.get('date')?.touched)"
          class="invalid-feedback">
          <div *ngIf="editForm.get('date')?.errors?.['required']">
            Date is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="reason">Reason</label>
        <textarea id="reason" class="form-control" formControlName="reason" rows="4"></textarea>
        <div *ngIf="editForm.get('reason')?.invalid && (editForm.get('reason')?.dirty || editForm.get('reason')?.touched)"
          class="invalid-feedback">
          <div *ngIf="editForm.get('reason')?.errors?.['required']">
            Reason is required.
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mr-2" [disabled]="editForm.invalid">Save</button>
      <a routerLink="/appointments" class="btn btn-outline-secondary">Cancel</a>
    </form>
  </div>
  