<div class="container">
    <div class="row mb-3">
        <div class="col-md-6">
          <h2>Breed List</h2>
        </div>
      </div>
    
      <div class="row mb-3 align-items-center">
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Search breeds..." [(ngModel)]="searchTerm" (ngModelChange)="filterBreeds()">
        </div>
        <div class="col-md-6 text-right">
          <button class="btn btn-primary mr-2" (click)="goToNewBreed()">New Breed</button>
          <a routerLink="/appointments" class="btn btn-secondary">Back to Appointment</a>
        </div>
      </div>
    

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Breed Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let breed of filteredBreeds">
            <td>{{ breed.name }}</td>
            <td>
              <div class="btn-group" role="group">
                <a routerLink="/breeds/{{ breed.id }}/edit" class="btn btn-sm btn-primary">Edit</a>
                <button class="btn btn-sm btn-danger ml-2" (click)="deleteBreed(breed.id)">Delete</button>
              </div>
            </td>
          </tr>
          <tr *ngIf="filteredBreeds.length === 0">
            <td colspan="2" class="text-center">No breeds found.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  